<div class="shape-frame-section">
  <div class="shape-manipulation-tools">
    <div class="background-color-tools">
      <label>Color:</label>
      <button class="no-fill">Nofill</button>
      <button class="color-picker-holder">Cpicker</button>
      <button class="opacity-tool">opacity</button>
    </div>
    <div class="border-color-tools">
      <label>Border</label>
      <button class="no-fill">nofill</button>
      <button class="border-width">width</button>
      <button class="border-angle">angle</button>
    </div>
  </div>
</div>