$white-chili: #ffffff;
$light-blue-chili: #f7f8fa;
$blue-chili: #a0b3c3;

$header-color: #ffffff;
$top-section-border: #e8eff5;

$button-color: rgba(234, 234, 234, 0.3);
$white-button: #eaeaea;
$button-disabled: #525252;
$button-border: #e0e2e7;

$main-wndow-background: #e8eff5;
$white-footer: #f7f8fa;