$white-chili: #ffffff;
$light-blue-chili: #f7f8fa;
$blue-chili: #a0b3c3;

$header-color: #ffffff;
$top-section-border: #e8eff5;

$button-color: rgba(234, 234, 234, 0.3);
$white-button: #eaeaea;
$button-disabled: #525252;
$button-border: #e0e2e7;

$main-wndow-background: #e8eff5;
$white-footer: #f7f8fa;

.text-frame-section {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
  height: 100%;

  .text-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    border-right: 1px solid $top-section-border;
    padding: 0 11px 0 11px;
    .text-edit-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      width: 184px;

      .text-edit-row-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 35px;
        width: 100%;

        .text-font-type {
          height: 35px;
          width: 115px;
          border: 1px solid #e0e2e7;
          border-radius: 4px;
          background-color: rgba(255, 255, 255, 0.3);
          &:hover {
            background-color: rgba(234, 234, 234, 0.3);
          }
        }
        // .text-font-size {
        //   height: 35px;
        //   width: 60px;
        //   border: 1px solid #e0e2e7;
        //   border-radius: 4px;
        //   background-color: rgba(255, 255, 255, 0.3);
        //   &:hover {
        //     background-color: rgba(234, 234, 234, 0.3);
        //   }
        // }

        .text-font-size {
          position: relative;

          button {
            height: 35px;
            width: 60px;
            border: 1px solid #e0e2e7;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.3);
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;

            cursor: default;
            &:hover {
              background-color: rgba(234, 234, 234, 0.3);
            }
          }
          .size-select-popup {
            position: absolute;
            top: 100%;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 2px 0 0 0;
            padding: 0;
            border: 1px solid #e0e2e7;
            border-radius: 4px;

            div {
              width: 40px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              padding: 2px 4px 2px 0;

              cursor: default;
              background-color: $light-blue-chili;
              &:hover {
                background-color: $white-chili;
              }
            }
          }
        }
      }
      .text-edit-row-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 35px;
        width: 100%;

        .text-type-row-2 {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 35px;
          width: 115px;
          background-color: rgba(255, 255, 255, 0.3);
          button {
            height: 35px;
            width: 35px;
            border: 1px solid #e0e2e7;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.3);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: rgba(234, 234, 234, 0.3);
            }
          }
        }

        .text-color-row-2 {
          height: 35px;
          width: 60px;
          border: 1px solid #e0e2e7;
          border-radius: 4px;
          background-color: grey;

          &:hover {
            background-color: rgba(234, 234, 234, 0.3);
          }
        }
      }
    }
  }

  .text-align-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    border-right: 1px solid $top-section-border;
    padding: 0 11px 0 11px;

    .text-align-edit-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      width: 160px;
      .text-align-row-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 35px;
        width: 100%;
        button {
          height: 35px;
          width: 35px;
          border: 1px solid #e0e2e7;
          border-radius: 4px;
          background-color: rgba(255, 255, 255, 0.3);

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &:hover {
            border-color: orange;
          }
        }
      }
      .text-align-row-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 35px;
        width: 100%;
        button {
          height: 35px;
          width: 35px;
          border: 1px solid #e0e2e7;
          border-radius: 4px;
          background-color: rgba(255, 255, 255, 0.3);
          &:hover {
            border-color: orange;
            img {
              fill: orange;
            }
          }
        }
      }
    }
  }
}
