<div class="text-frame-section">
    <div class="text-edit">
      <div class="text-edit-wrap">
        <div class="text-edit-row-1">
          <!--<div class="text-font-type" style="display: flex; align-items: center; justify-content: center;" (click)="changeSelectedTextFontClick.emit(null)">Select-->
            <!--Font</div>-->
          <app-fonts-dropdown></app-fonts-dropdown>
          <div class="text-font-size">
            <button (click)="switchTextSizePopup()">Font size</button>
            <div class="size-select-popup" *ngIf="textSizePopupStatus">
              <div class="size-item" *ngFor="let item of textSizeList" (click)="changeTextSizeClick.emit(item)">{{ item }}</div>
            </div>
          </div>
        </div>
        <div class="text-edit-row-2">
          <div class="text-type-row-2">
            <button (click)="changeTextTypeClick.emit('bold')">
              <img src="assets/icons/bold.svg">
            </button>
            <button (click)="changeTextTypeClick.emit('italic')">
              <img src="assets/icons/italic.svg">
            </button>
            <button (click)="changeTextTypeClick.emit('underline')">
              <img src="assets/icons/underline.svg">
            </button>
          </div>
          <app-color-picker></app-color-picker>
        </div>
      </div>
    </div>

    <div class="text-align-edit">
      <div class="text-align-edit-wrap">
        <div class="text-align-row-1">
          <button (click)="selectedTextAlignClick.emit('left')">
            <img src="assets/icons/al-left.svg">
          </button>
          <button (click)="selectedTextAlignClick.emit('center')">
            <img src="assets/icons/al-center.svg">
          </button>
          <button (click)="selectedTextAlignClick.emit('right')">
            <img src="assets/icons/al-right.svg">
          </button>
          <button (click)="selectedTextAlignClick.emit('justify')">
            <img src="assets/icons/al-center-top.svg">
          </button>
        </div>
        <div class="text-align-row-2">
          <button (click)="allTextInFrameAlignClick.emit('left')">
            <img src="assets/icons/all-left.svg">
          </button>
          <button (click)="allTextInFrameAlignClick.emit('center')">
            <img src="assets/icons/all-left.svg">
          </button>
          <button (click)="allTextInFrameAlignClick.emit('right')">
            <img src="assets/icons/all-left.svg">
          </button>
          <button (click)="allTextInFrameAlignClick.emit('justify')">
            <img src="assets/icons/all-left.svg">
          </button>
        </div>
      </div>
    </div>

</div>
