<div class="chili-main-container">
  <div class="header-pannel" [hidden]="previewMode" [ngStyle]="{'display':previewMode === true ? 'none' : 'flex' }">
    <div class="add-items">
      <div class="add-items-container">
        <!-- [disabled]="!editorStatus" -->
        <button (click)="addImageFrame()">
          <img src="assets/icons/add-image.svg">
          Add image
        </button>
        <!-- [disabled]="!editorStatus" -->
        <button (click)="addFrame('text', null)">
          <img src="assets/icons/add-text.svg">
          Add text
        </button>
        <div class="shape-popup-container">
          <!-- [disabled]="!editorStatus" -->
          <button (click)="swithcShapePopup()">
            <img src="assets/icons/add-shape.svg">
            Add shape
          </button>
          <div class="shape-popup" *ngIf="shapePopupStatus">
            <button class="shape-item" (click)="addFrame('rectangle')">
              <!-- <div class="shape-rectangle">R</div> -->
              Rectangle
            </button>
            <button class="shape-item" (click)="addFrame('line')">
              <!-- <div class="shape-line">L</div> -->
              Line
            </button>
            <button class="shape-item" (click)="addFrame('circle')">
              <!-- <div class="shape-circle">C</div> -->
              Circle
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="dimention-info">
      <div class="dimention-info-container">
        <div class="chili-width">
          Width: {{ dimentions.width }}
        </div>
        <div class="chili-height">
          Height: {{ dimentions.height }}
        </div>
      </div>
    </div>

    <div class="undo-redo">
      <div class="undo-redo-wrap">
        <button (click)="undo()">
          <img>
          Undo
        </button>
        <button (click)="redo()">
          <img>
          Redo
        </button>
      </div>
    </div>

    <div class="zoom-cursor">
      <div class="zoom-cursor-wrap">
        <div class="zoom-row-1">
          <div class="zoom-ratio">
            <div (click)="zoomHandle('up')">+</div>
            <div class="zoom-view">
              <img src="assets/icons/zoom.svg">
              {{ zoomVal | number: '1.0-0' }}
            </div>
            <div (click)="zoomHandle('down')">-</div>
          </div>
          <div class="fit-wrap">
            <button class="fit-100" (click)="zoomHandle('100%')">100%</button>
            <button class="full-size" (click)="fitPage()">Fit Size</button>
          </div>
        </div>
        <div class="zoom-row-2">
          <button (click)="changeCursor('pointer')">
            <img src="assets/icons/arrow.svg">
          </button>
          <button (click)="changeCursor('text')">
            <img src="assets/icons/arrow-filled.svg">
          </button>
          <button (click)="changeCursor('hand')">
            <img src="assets/icons/hand.svg">
          </button>
        </div>
      </div>
    </div>

    <div class="frame-type-container" >
      <div *ngIf="frame.selectedFrame$ | async; let selectedFrame" style="height: 100%;">
        <ng-container [ngSwitch]="selectedFrame.type">

          <app-image-frame-tools
          *ngSwitchCase="'image'">
          </app-image-frame-tools>

          <app-text-frame-tools
            *ngSwitchCase="'text'"
            (changeTextSizeClick)="changeTextSize($event)"
            (changeSelectedTextFontClick)="changeSelectedTextFont($event)"
            (changeTextTypeClick)="changeTextType($event)"
            (selectedTextAlignClick)="selectedTextAlign($event)"
            (allTextInFrameAlignClick)="allTextInFrameAlign($event)">
          </app-text-frame-tools>

          <app-shape-frame-tools
            *ngSwitchCase="'rectangle'">
          </app-shape-frame-tools>
          <app-shape-frame-tools
            *ngSwitchCase="'line'">
          </app-shape-frame-tools>
          <app-shape-frame-tools
            *ngSwitchCase="'circle'">
          </app-shape-frame-tools>

        </ng-container>
      </div>

    </div>
  </div>
  <div class="main-container">
    <div class="left-pannel">
      <div class="left-pannel-wrap">
        <div class="header">View Side</div>
        <div class="page-item">
          <img src="assets/icons/add-shape.svg">
          <div class="page-name">Page Name1</div>
        </div>
        <div class="page-item">
          <img src="assets/icons/add-shape.svg">
          <div class="page-name">Page Name2</div>
        </div>
      </div>
    </div>
    <div class="editor-container">
      <app-chili-shell></app-chili-shell>
    </div>
    <div class="right-pannel" [hidden]="previewMode">
      <div class="right-pannel-wrap">
        <div class="composition">
          <div class="composition-header">
            <div>Under construction</div>
            <div>test buttons</div>
            <div class="test-buttons-block">
              <button (click)="deleteFrame()">Delete frame</button>

              <!-- <button (click)="copyFrame()">Copy frame</button> -->
              <!-- <button (click)="pasteFrame()">Paste frame</button> -->

              <!-- <button (click)="rotateFrame('left')">Rotate Left</button> -->
              <!-- <button (click)="rotateFrame('right')">Rotate Right</button> -->

              <!-- <button (click)="changeFrameOpacity('up')">Opacity up</button> -->
              <!-- <button (click)="changeFrameOpacity('down')">Opacity down</button> -->

              <!-- <button (click)="selectPage('0')">Select Page 1</button> -->
              <!-- <button (click)="selectPage('1')">Select Page 2</button> -->

              <button (click)="setExternalAssetImage()">setExternalAssetImage</button>
              <input type='file' (change)="onSelectFile($event)" accept=".png,.jpeg">

              <button (click)="getAllFrames()">getAllFrames</button>
              <button (click)="testChangeFrameIndex()">testChangeFrameIndex</button>

              <button (click)="increaseSelectedFrameIndex()">up</button>
              <button (click)="decreaseSelectedFrameIndex()">down</button>
              <button (click)="getSelectedFrame()">getSelectedFrame</button>

              <div class="layers" style="overflow-y: auto;">
                <div class="no-layers" *ngIf="(!layerList.length)">
                  <span>Empty</span>
                </div>

                <div class="layer-item" *ngFor="let layer of layerList">
                  <div class="layer-type">
                    <img src="assets/icons/text-layer.svg">
                  </div>

                  <div class="layer-name">
                    <span>{{ layer.name }}</span>
                  </div>

                  <div class="layer-manipulations">
                    <button class="layer-eye">
                      <img src="assets/icons/shape-select.svg">
                    </button>
                    <button class="layer-delete">
                      <img src="assets/icons/rubbish-bin.svg">
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="layers"></div>
      </div>
    </div>
  </div>
  <div class="footer-pannel">
    <div class="footer-pannel-wrap">
      <div class="preview-buttons">
        <button>3D View</button>
        <button (click)="previewModeSwitch()">Quick Preview</button>
        <button>Save</button>
      </div>
      <div class="file-name">
        FileName: Design Attach
      </div>
      <div class="continue-button">
        <button>Continue</button>
      </div>
    </div>
  </div>
</div>
