$white-chili: #ffffff;
$light-blue-chili: #f7f8fa;
$blue-chili: #a0b3c3;

$header-color: #ffffff;
$top-section-border: #e8eff5;

$button-color: rgba(234, 234, 234, 0.3);
$white-button: #eaeaea;
$button-disabled: #525252;
$button-border: #e0e2e7;

$main-wndow-background: #e8eff5;
$white-footer: #f7f8fa;

.chili-main-container {
  display: flex;
  flex-direction: column;
  // background-color: $main-wndow-background;
  height: 100%;
  overflow-y: hidden;
  button {
    cursor: pointer;
  }

  .header-pannel {
    width: 100%;
    height: 140px;
    min-width: 1046px;

    background-color: $header-color;
    align-self: flex-start;

    display: flex;
    flex-direction: row;
    vertical-align: center;
    align-items: center;

    .add-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      height: 100%;
      border-right: 1px solid $top-section-border;

      .add-items-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 6px 0 6px;

        button,
        div {
          height: 80px;
          width: 100px;
          border: 1px solid $button-border;
          border-radius: 4px;
          background-color: $button-color;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          margin: 0 5px 0 5px;

          &:hover {
            background-color: transparent;
          }

          &:disabled {
            background-color: $button-disabled;
          }
        }

        .shape-popup-container {
          position: relative;
          .shape-popup {
            position: absolute;
            top: 100%;
            // width: 100%;
            // height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0;
            padding: 0;
            // flex-wrap: wrap;

            button {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              background-color: $white-chili;

              &:hover {
                background-color: darkolivegreen;
              }

              &:disabled {
                background-color: rgb(39, 61, 0);
              }
            }
          }
        }
      }
    }

    .dimention-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      height: 100%;
      border-right: 1px solid $top-section-border;
      padding: 0 11px 0 11px;

      .dimention-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 80px;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          height: 34px;
          width: 100px;
          border: 1px solid #e0e2e7;
          border-radius: 4px;
          background-color: rgba(255, 255, 255, 0.3);
          color: #525252;
          font-size: 10px;
          line-height: 11px;
          &:hover {
            background-color: rgba(234, 234, 234, 0.3);
          }
        }
      }
    }

    .undo-redo {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      border-right: 1px solid $top-section-border;
      padding: 0 11px 0 11px;

      .undo-redo-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80px;

        justify-content: space-between;

        button {
          height: 35px;
          width: 60px;
          border: 1px solid #e0e2e7;
          border-radius: 4px;

          color: #525252;
          font-size: 10px;
          line-height: 11px;

          outline: none;

          background-color: rgba(255, 255, 255, 0.3);
          &:hover {
            background-color: rgba(234, 234, 234, 0.3);
          }
        }
      }
    }

    .zoom-cursor {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      height: 100%;
      border-right: 1px solid $top-section-border;
      padding: 0 11px 0 11px;

      .zoom-cursor-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 120px;

        .zoom-row-1 {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 35px;
          width: 100%;
          .zoom-ratio {
            height: 35px;
            width: 75px;
            border: 1px solid #e0e2e7;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.3);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .zoom-view {
              height: 70%;
            }

            div {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              height: 100%;
              cursor: pointer;
              &:first-child {
                border-right: 1px solid $blue-chili;
                width: 15px;
                &:hover {
                  background-color: rgba(234, 234, 234, 0.3);
                }
              }

              &:last-child {
                border-left: 1px solid $blue-chili;
                width: 15px;
                &:hover {
                  background-color: rgba(234, 234, 234, 0.3);
                }
              }
            }
          }
          .fit-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 35px;
            height: 100%;
            button {
              height: 15px;
              width: 35px;
              border: 1px solid #e0e2e7;
              border-radius: 3px;
              background-color: rgba(255, 255, 255, 0.3);
              padding: 0;
              &:hover {
                background-color: rgba(234, 234, 234, 0.3);
              }
            }
            .fit-100 {
              color: #747474;
              font-size: 8px;
              font-weight: 500;
              line-height: 7px;
              text-align: center;
              &:hover {
                background-color: rgba(234, 234, 234, 0.3);
              }
            }
            .full-size {
              color: #747474;
              font-size: 8px;
              font-weight: 500;
              line-height: 7px;
              text-align: center;
              &:hover {
                background-color: rgba(234, 234, 234, 0.3);
              }
            }
          }
        }

        .zoom-row-2 {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 35px;
          width: 100%;
          button {
            height: 35px;
            width: 35px;
            border: 1px solid #e0e2e7;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.3);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: rgba(234, 234, 234, 0.3);
            }
          }
        }
      }
    }

    .frame-type-container {
      display: flex;
      flex-direction: row;
      vertical-align: center;
      align-items: center;
      height: 100%;
    }
  }

  .main-container {
    min-width: 1046px;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: $main-wndow-background;
    padding: 20px;

    .left-pannel {
      max-width: 81px;
      // padding-left: 20px;
      align-self: flex-start;
      .left-pannel-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $white-chili;
        width: 61px;
        .header {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 33px;
          background: linear-gradient(253.61deg, #ffbb40 0%, #fd861e 100%);
          color: #ffffff;
          font-size: 10px;
          line-height: 10px;
          border-radius: 4px 4px 0 0;
          margin-bottom: 5px;
        }

        .page-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          padding: 5px 0 5px 0;

          img {
            padding: 3px;
            align-self: center;
          }
          .page-name {
            padding: 0 3px 3px 3px;
            align-self: center;
            font-size: 10px;
            width: 56px;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
          }

          &:hover {
            background-color: $button-border;

            .page-name {
              width: 56px;
              overflow: visible;
              white-space: normal;
              word-break: break-all;
            }
          }
        }
      }
    }

    .editor-container {
      width: 100%;

      // padding-right: 20px;
      // padding-left: 20px;

      // padding: 20px;
      background: #e8eff5;
      padding-right: 20px;
      padding-left: 20px;
    }

    .right-pannel {
      width: 250px;
      // height: 100%;
      background-color: $white-chili;
      // align-self: flex-end;
      // padding: 20px;
      // padding-left: 20px;
      // margin: 20px;
      // margin-left: 0;

      .composition-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .test-buttons-block {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          button {
            margin: 5px;
          }
          .border-width-test {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            button {
              margin: 3px;
            }
            div {
              margin: 5px;
            }
          }
        }
      }

      .layers {
        padding: 11px;
        max-height: 196px;
        .layer-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          height: 37px;
          width: 228px;
          border: 1px solid #e8eff5;
          border-radius: 2px;
          margin-bottom: 10px;

          .layer-type {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;
            width: 38px;

            border-radius: 2px;
            background-color: #e8eff5;

            img {
              align-self: center;
            }
          }

          .layer-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            height: 100%;
            width: 92px;
            margin: 0 10px;

            span {
              width: 100%;
              color: #525252;
              font-size: 10px;
              line-height: 11px;
            }
          }

          .layer-manipulations {
            height: 100%;
            display: flex;
            flex-direction: row;

            button {
              height: 100%;
              width: 38px;
              padding: 0;
              margin: 0;
              outline: none;
              border: 0;
              border-left: 1px solid #e8eff5;
              background: transparent;
            }
          }

          &:hover {
            border-color: #fd861e;
            .layer-type {
              background-color: #fd861e;
              svg #Image {
                fill: #ffffff !important;
                stroke: red;
              }
            }
          }
        }

        .no-layers {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          height: 37px;
          width: 228px;
          margin-bottom: 10px;
          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  .footer-pannel {
    width: 100%;
    min-width: 1086px;
    min-height: 81px;
    background-color: $white-footer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .footer-pannel-wrap {
      width: 100%;
      min-width: 1046px;
      color: #525252;
      font-size: 18px;
      line-height: 21px;
      text-align: center;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      button {
        outline: none;
      }
      .preview-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-left: 13px;
        button {
          height: 55px;
          width: 150px;
          border: 1px solid #2fabde;
          border-radius: 8px;
          background-color: rgba(144, 210, 238, 0.05);
          padding: 13px;

          color: black;
          font-size: 16px;
          line-height: 15px;
          text-align: center;
          margin-right: 8px;

          &:hover {
            border: 1px solid #ececec;
            border-radius: 8px;
            background-color: #ececec;
          }
        }
      }

      .file-name {
        width: auto;
      }

      .continue-button {
        padding-right: 13px;
        button {
          height: 55px;
          width: 150px;
          border: 1px solid #2fabde;
          border-radius: 8px;
          background-color: rgba(144, 210, 238, 0.05);
          padding: 13px;

          color: black;
          font-size: 16px;
          line-height: 15px;
          text-align: center;

          &:hover {
            border: 1px solid #ececec;
            border-radius: 8px;
            background-color: #ececec;
          }
        }
      }
    }
  }
}
