:host ::ng-deep.type-policy {
  display: none;
}

:host ::ng-deep.alpha {
  display: none;
  visibility: hidden;
}

:host ::ng-deep.color-picker .hue {
  margin: 16px 0 0;
}

:host ::ng-deep.add-button {
  height: 35px;
  width: 60px;
  border: 1px solid #e0e2e7;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
}

.text-color-row-2 {
  height: 31px;
  width: 60px;
  border: 1px solid #e0e2e7;
  border-radius: 4px;
  background: #e0e2e7;
  outline: none;
  cursor: pointer;
}
