<div class="dropdown">
  <button class="selected-item" (click)="toggleDropdown()">{{this.selectedOption}}</button>
  <div class="dropdown-list" *ngIf="dropdownIsOpen && options && options.length">
    <div class="dropdown-list-item" *ngFor="let option of options" (click)="onDropdownOptionSelect(option)">{{ option.name }}</div>
  </div>
</div>
