.selected-item {
  height: 100%;
  width: 100%;
  border: 1px solid #e0e2e7;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #525252;
  font-family: Ubuntu;
  font-size: 10px;
  line-height: 11px;
  cursor: pointer;
  outline: none;
}

.dropdown {
  position: relative;
  width: 100%;
  height: 100%;
  color: #525252;
  font-family: Ubuntu;
  font-size: 10px;
  line-height: 11px;

  .dropdown-list{
    position: absolute;
    top: 104%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #e0e2e7;
    border-radius: 4px;
    width: 100%;

    .dropdown-list-item {
      width: 100%;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: white;

      &:hover {
        background-color: #e0e2e7;
      }
    }
  }
}
