$white-chili: #ffffff;
$light-blue-chili: #f7f8fa;
$blue-chili: #a0b3c3;

$header-color: #ffffff;
$top-section-border: #e8eff5;

$button-color: rgba(234, 234, 234, 0.3);
$white-button: #eaeaea;
$button-disabled: #525252;
$button-border: #e0e2e7;

$main-wndow-background: #e8eff5;
$white-footer: #f7f8fa;

.image-frame-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 11px 0 11px;

    .image-manipulation-tools {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        
        .image-preview {
            height: 35px;
            width: 75px;
            border: 1px solid #E0E2E7;
            border-radius: 4px;
            background-color: black;
        }
        .opacity-tool {
            height: 35px;
            width: 75px;
            border: 1px solid #E0E2E7;
            border-radius: 4px;
            background-color: rgba(255,255,255,0.3);
        }
    }
}