<div class="image-frame-section">
  <div class="image-manipulation-tools">
    <div class="image-preview">
      <img src='null'>
      img
    </div>
    <div class="opacity-tool">
      opacity
    </div>
  </div>
</div>